.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 60px;

    background:#1e293b;
}

.navbar h2{
    color:white;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:25px;
}

.navbar a{
    color:white;
    text-decoration:none;
}

.navbar a:hover{
    color:#60a5fa;
}