*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.signup-container{
    min-height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f5f5f5;
}

.signup-card{
    width:400px;
    background:white;
    padding:40px;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.signup-card h1{
    text-align:center;
    margin-bottom:10px;
}

.signup-card p{
    text-align:center;
    color:gray;
    margin-bottom:25px;
}

.signup-card form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.signup-card input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:16px;
}

.signup-card button{
    padding:12px;
    background:#16a34a;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
}

.signup-card button:hover{
    background:#15803d;
}

.bottom-text{
    margin-top:20px;
}

.bottom-text a{
    text-decoration:none;
    color:#16a34a;
    font-weight:bold;
}