.error{
    height:70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.error h1{
    font-size:80px;
    color:#ef4444;
}

.error p{
    font-size:24px;
}